$white: #fff
$main: #F53B04
$bg: #000

body
  background: $bg
  color: $white
  overflow: hidden

a
  text-decoration: none

.link
  color: $white
  font-size: 1em
  margin: 5px
  &:hover
    background: $main
    color: $bg
    