$accent: #000
$main: #F53B04
$bg: #fff

@mixin flex($j:center, $a:flex-start, $d: row, $wrap: nowrap)
  display: flex
  align-items: $a
  justify-content: $j
  flex-flow: $d $wrap


body
  background: $bg
  overflow-x: hidden
  margin: 0
  color: lighten($accent, 20%)

a
  text-decoration: none

p
  display: inline

header
  @include flex($j: space-between, $a: center)
  padding: 10px
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05)
  nav
    @include flex()
    
  

.link
  color: $accent
  background: transparent
  @include flex($a: center)
  height: 2rem
  width: 4rem
  font-size: 1rem
  margin: 5px
  border: none
  outline: none
  cursor: pointer
  &:hover
    background: $main
    color: $bg

.link.active
  background: $main
  color: $bg

.items-container
  @include flex(center, center)
  

.item
  @include flex(center, center)
  width: 250px
  margin: 5px
  box-sizing: border-box
  padding: 10px
  flex-direction: column
  box-shadow: 0 0 10px darken($bg, 20%)
  .image
    width: 200px
    height: 200px
    overflow: hidden
    margin: auto
    @include flex(center, center)
    
  > *
    margin: 5px

.details
  width: 200px
  @include flex(center, flex-start)
  
  flex-direction: column
  box-sizing: border-box
  *
    margin: 4px 0

.item
  img
    height: 200px


/*
  -----------------
    Button
  -----------------
  */

.btn
  padding: 15px
  cursor: pointer
  @include flex($a:center)
  height: 2.5em

.slim
  padding: 0
  font-size: 2rem
  background: transparent
  border: none
  color: $main
  height: auto
  &:hover
    color: darken($main, 5%)






/*
  -----------------
    CartBox
  -----------------
  */


.cartBox
  @include flex($j: center, $d: column)
  position: absolute
  top: 95px
  right: 5px
  z-index: 9
  padding: 10px
  overflow-y: auto
  min-width: 300px
  max-height: 80vh
  box-shadow: 0 0 10px darken($bg, 20%)
  .cartItem
    @include flex($a: center)
    margin: 5px
    .image
      width: 100px
      height: 100px
      img
        width: 100%
    *
      margin: 5px

.cartBox.hidden
  display: none


.empty
  @include flex($a:center)
  width: 200px
  height: 40px

.incrementBox
  @include flex($j:space-evenly,$a:center)
  


/*
  -----------------
    Orders
  -----------------
  */

.ordersPage
  @include flex($j: space-between)
  

.ordersContainer
  flex-basis: 60%
  @include flex($a:flex-start, $d:column)
  

.orderItem
    @include flex($j:space-evenly ,$a:center)
    flex-basis: 100%
    .image
      flex-basis: 100px
      img
        max-width: 100%
    .details
      font-size: 0.9em
      text-align: center
      @include flex($j: space-evenly, $a: center)
      color: lighten($accent, 20%)
      flex: 0.7
      > *
        flex-basis: 100px


  
/*
  -----------------
    Content
  -----------------
  */


section
  margin: 10px

.name
  color: $accent
  font-size: 1.2em